[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
"backports.zoneinfo" = "==0.2.1"
django = "==4.1.1"
gunicorn = "==20.1.0"
pillow = "==9.2.0"
psycopg2 = "==2.9.3"
psycopg2-binary = "==2.9.4"
pyparsing = "==3.0.9"
pypdf2 = "==2.10.9"
pytesseract = "==0.3.10"
sqlparse = "==0.4.2"
typing-extensions = "==4.3.0"

[dev-packages]

[requires]
python_version = "3.8"
